* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", Arial, sans-serif;
    text-transform: uppercase;
    
}

* p{
  
  font-weight: bold; /* Deixa o texto em negrito */


}

/* usar nas fontes respectivas

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

*/

.menu{
  position: relative;
  background-color: black;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: aliceblue ;
  text-decoration: none;
  letter-spacing: -2px;
  padding-bottom:5%;
}

.navbar{
  position: absolute;
  padding-top: 02%;
  padding-left: 4%;
  display: flex;
  gap: 35px; /* Ajuste o valor conforme necessário */
  margin-left: 10%;
}

.sale_red{
  color: red;
}

.logo{
  position: absolute; /* Remove a imagem do fluxo normal do layout */
  top: 30%;  /* Ajuste a posição vertical da imagem */
  left: 3%; /* Ajuste a posição horizontal da imagem */
}

.menu-direita{
  display: flex;
  position: absolute;
  margin-left: 80%;
  gap: 30px;
  bottom: 40%;
}

.banner_grande{
  display: flex;
  width: 100%;
  height: 100%;
}

.menu-direita img{
  position: relative;
  width: 5%;
  height: 5%;
  left: 5%;
  top: 1%;

}

.banner_secondary {
  display: flex;                   /* Usando Flexbox */
  justify-content: center;         /* Centraliza as imagens horizontalmente */
  align-items: center;             /* Centraliza as imagens verticalmente */
  gap: 20px;                       /* Espaçamento entre as imagens */
  width: 100%;                     /* A largura ocupa toda a largura disponível */
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
}

.banner_secondary img {
  max-width: 100%;                 
  max-height: 100%;                
  object-fit: cover;               
  flex: 1;                         
  height: 90%;
  width: 90%;
}

.itens h1{
  display: flex;                   
  justify-content: center;        
  align-items: center;            
  letter-spacing: -2px;
  padding-bottom:0%;
}

.itens{
  padding-top: 5%;
  
}

.novidades {
  display: grid;
  justify-content: center;        
  align-items: center; 
  grid-template-columns: repeat(4, 1fr); 
}

.bloco_item {
  text-align: left; /* Centraliza o texto dentro da div */
  
}

.line_price{
  text-decoration: line-through;
  color: gray;
  font-size: 0.6vw;

}

.instagram img{
  display: flex;                   /* Usando Flexbox */
  justify-content: center;         /* Centraliza as imagens horizontalmente */
  align-items: center; 
}

.instagram h1{
  display: flex;                   
  justify-content: center;        
  align-items: center;            
  letter-spacing: -2px;
  padding-top:5%;
  padding-bottom: 2%;
}




